<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/head.ejs %>
  </head>
  <body>
    <% include ../includes/components/header.ejs %>
    <div class="container">
      <div class="table-wrapper">
        <table class="bordered">
          <thead>
            <tr>
              <th>Klant</th>
              <th>Klaar voor ophaal</th>
              <th>Ontvangen</th>
              <th>Klaar</th>
              <th>Geleverd</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < clients.length; i++) { %>
              <tr data-client-id="<%= clients[i]._id %>" data-client-name="<%= clients[i].name %>">
                <td><%= clients[i].name %></td>
                <td>
                  <%= clients[i].date %><br/>
                  <%= clients[i].time %>
                </td>
                <td>
                  <span>
                    <input
                      data-status-index="1"
                      name="<%= clients[i]._id %>"
                      type="radio"
                      id="ontvangen-<%= clients[i]._id %>"
                      <%= (clients[i].statusIndex === 1) ? 'checked' : '' %>
                    />
                    <label for="ontvangen-<%= clients[i]._id %>"></label>
                  </span>
                </td>
                <td>
                  <span>
                    <input
                      data-status-index="2"
                      name="<%= clients[i]._id %>"
                      type="radio"
                      id="klaar-<%= clients[i]._id %>"
                      <%= (clients[i].statusIndex === 2) ? 'checked' : '' %>
                    />
                    <label for="klaar-<%= clients[i]._id %>"></label>
                  </span>
                </td>
                <td>
                  <span>
                    <input
                      data-status-index="3"
                      name="<%= clients[i]._id %>"
                      type="radio"
                      id="geleverd-<%= clients[i]._id %>"
                    />
                    <label for="geleverd-<%= clients[i]._id %>"></label>
                  </span>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <% if (!clients.length) { %>
        <p class="center-align">
          <i class="flow-text">Geen klanten in verwerking.</i>
        </p>
      <% } %>
    </div>
    <% include ../includes/foot.ejs %>
  </body>
</html>
